/* ini css*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: monospace;
    font-size: medium;
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center
}
h1 {
    text-align: center;
    flex-wrap: wrap;
    margin-top: 30;
    margin-bottom: 0px;
    
}
h2{
    text-align-last: center;
    flex-wrap: wrap;
}

textarea{
    height: 40px;
    width: 380px;
    margin-top: 4px;
    gap: 20px;
    border-radius: 8px
}

input{
    height: 40px;
    width: 380px;
    margin-top: 4px;
    border-radius: 8px
}
button{
    margin-top: 7px;
    border-radius: 4px;
    border-style:none;
    margin-bottom: 5px
}
p {
    text-align: center;
    flex-wrap: wrap;
    
}

.suhu-s {
        font-size: 30px;
        font-family: math;
        font-style: italic;
    }
    .blob-outer-container{
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 0;
        inset: 0;
        margin: auto;
        filter: blur(100px);
    }
    .blob-inner-container{
        border-radius: 99999px;
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100vw;
        height: 100vh;
        min-width: 1000px;
        overflow: hidden;
        background-color: #fff;
        transform: scale(0.6);
    }
    .blob{
        position: absolute;
        width: 100vw;
        height: 100vh;
        inset: 0;
        margin: auto;
        background: conic-gradient(from 0deg, #987D9A,#BB9AB1,#EECEB9,#FEFBD8)
    }
 
@media screen and (max-width: 375px) {
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            box-sizing: border-box;
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: 40px;
            margin-right: 40px;
            font-family: monospace;
            font-size: small;
        }

        input{
            height: 35px;
            width: 225px;
            margin-top: 4px;
            border-radius: 8px;}
         textarea{
            height: 35px;
            width: 225px;
            margin-top: 4px;
            gap: 20px;
            border-radius: 8px}
            
}